<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<p>has made <%= @user.ratings.count %> ratings, with an average of <%= @user.average_rating %>.</p>

<p> Member of
  <% @user.memberships.each do |m| %>
    <%= link_to m.beer_club.name, m.beer_club %>
  <% end %>
</p>

<h2>Ratings</h2>

<ul>
  <% @user.ratings.each do |r| %>
    <li>
      <%= r %>
      <% if @user == current_user %>
        <%= link_to 'delete', r, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @user == current_user %>
  <p>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Remove account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
<%= link_to 'Back', users_path %>
