<h1>Beer place search</h1>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-6">
    <%= form_tag places_path do %>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
              <span class="glyphicon glyphicon-map-marker"></span>
      </span>
        <%= text_field_tag :city, params[:city], class: "form-control", placeholder: "Search city..." %>
        <span class="input-group-btn">
              <%= submit_tag "Search", class:"btn btn-primary" %>
            </span>
      </div>
    <% end %>
  </div>
</div>

<% if @places %>
  <table class="table table-hover">
    <thead>
      <td>Name</td>
      <td>Style</td>
      <td>Street</td>
      <td>Zip</td>
      <td>Country</td>
      <td>Rating</td>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.name, place_path(place.id) %></td>
        <td><%= place.status %></td>
        <td><%= place.street %></td>
        <td><%= place.zip %></td>
        <td><%= place.country %></td>
        <td><%= place.overall %></td>
      </tr>
    <% end %>
  </table>
<% end %>